*{
    margin: auto;
}
a{
    text-decoration: none;
    list-style: none;
}
#burger{
    display: none;
}
p{
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
}
h1{
    font-family: "Montserrat", sans-serif;
    font-size:40px;
}
.btn{
    font-family: "Roboto", sans-serif;
    font-size: 16px;
}
h2{
    font-family: "Montserrat", sans-serif;
    font-size:20px;
}
h3{
    font-family: "Montserrat", sans-serif;
    font-size:30px;

}

/* HEADER */
header{
    max-width: 1920px;
    margin: auto;
}
header div{
    max-width: 1440px;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
}

header div img{
    width:200px;
}
header nav ul{
    display: flex;
     list-style: none;
    text-decoration: none;
    gap: 20px;
}
header nav li a{
   font-family:" Open Sans",sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0%;
    vertical-align: middle;
    text-transform: uppercase;
    color: #000000;

}
header nav li a:hover{
    color: #27697CE3;
}

/* SECTION 1 */
 #section1{
    max-width: 1920px;
    margin: auto;
    height:700px ;
    display: flex;
    align-items: center;
    background-image:url(../IMG/image.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    object-fit: none;

}
#section1 div{
    max-width: 570px;
    border: 1px solid;
    border-color: #27697C;
    border-radius: 2px;
    background-color:#276a7cb8;
    padding: 25px;
    margin-top: 40px;
    margin-bottom: 40px;
}
#section1 h1{
    font-weight: 700;
    font-style: Bold;
    font-size: 40px;
    line-height: 46px;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    color: #FFFFFF;

}
    #section1 p{
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    justify-items: flex-end;
    color: #FFFFFF;
    padding-top: 20px;
 }
#section1 .btn{
    font-weight: 500;
    font-style: Medium;
    line-height: 18.4px;
    letter-spacing: 0%;
    text-align: center;
    color:#27697C;
    border: 1px solid;
    margin-top: 20px;
    padding: 15px;
    display: block;
    place-self: center;
    background-color: #FFFFFF;

}
#section1 .btn:hover{
    color: #FFFFFF;
    background-color: #27697C;
}


/* SECTION 2 */
#section2{
    max-width: 1440px;
    margin: auto;
   
    
}
#section2 .div1{
   display: grid;
   grid-template-columns: 1fr 1fr;
    gap:20px;
    margin-top: 70px;
    margin-bottom: 60px;

}
#section2 h1{
font-weight: 600;
font-size: 20px;
line-height: 23px;
vertical-align: middle;
color: #27697C;

}
#section2 h2{
font-weight: 700;
font-style: Bold;
font-size: 30px;
line-height: 34.5px;
vertical-align: middle;
text-transform: uppercase;
color: #000000;
margin-bottom: 40px;
}
.trait{
    display: flex;
    gap: 20px;
}
hr{
    width: 280px;
     margin-top: 12px;
}
#section2 .div1 p{
    font-family:" Open Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #000000;
    margin-bottom: 40px;

}
#section2 .btn{
     font-weight: 500;
    line-height: 18.4px;
    text-align: center;
    color: #FFFFFF;
    border: 1px solid;
    padding: 15px;
    background-color:#27697C ;
   justify-self: flex-start;
    margin-top: 40px;
    margin-left: 75px;
}
#section2 .btn:hover{
    color: #27697C;
    background-color: #FFFFFF;
}
#section2 .div1 img{
   max-width: 700px;
   max-height: 600px;
   width: 100%;
   object-fit: cover;
 
}

.div2{
    max-width: 1440px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 50px;
}
.div2 article i{
    font-size: 40px;
    width: -webkit-fill-available;
    height: 50px;
    color: #27697C;
}
.div2 article p{
    font-weight: 600;
    font-size: 16px;
    line-height: 18.4px;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    color: #000000;
    margin-bottom: 50px;
}


/* SECTION 3 */
#section3{
    background-color: #27697C;
}
#section3 .div3{
    max-width: 1440px;
    margin: auto;
    display:grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 70px;
    padding-bottom: 70px;
    gap: 40px;
}
.art0, .art1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    
}
.art0 img{
    max-width: 340px;
    max-height: 226px;
    width: 100%;
}
.art1 img{
   max-width: 340px;
    max-height: 226px;
    width: 100%;
    padding-top: 15px;

}
.art2{
    max-width: 700px;
    max-height: 226px;
    width: 100%;
    padding-top: 15px;

}

#section3 h1{
   
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #FFFFFF;
}
#section3 h2{
    font-family: "Montserrat",sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 30px;
    line-height: 34.5px;
    letter-spacing: 0%;
    vertical-align: middle;
    text-transform: uppercase;
    color: #FFFFFF;

}
#section3 p{
    font-family:" Open Sans",sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    vertical-align: middle;
    color: #FFFFFF;
    margin-top: 20px;

}
.para{
    margin-bottom: 40px;
}
#section3 .btn{
     font-weight: 500;
    line-height: 18.4px;
    text-align: center;
    color:#27697C;
    border: 1px solid;
    margin-top: 20px;
    padding: 15px;
    justify-self: flex-start;
    background-color: #FFFFFF;
    
}

/* SECTION 4 */
#section4{
    max-width: 1440px;
    margin: auto;
}

.art4 h1{
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    vertical-align: middle;
    color: #27697C;
     margin-top: 80px;

}
.art4 h2{
    font-family: "Montserrat",sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 30px;
    line-height: 34.5px;
    text-align: center;
    color: #000000;
    margin-bottom: 50px;

}

#section4 div{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}
#section4 div img{
    max-width: 387px;
    max-height: 290px;
    width: 100%;
}
#section4 div p{
    font-family:" Open Sans",sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 18.4px;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    color: #000000;
    padding-top: 40px;

}

#section4 a{
      font-weight: 500;
    line-height: 18.4px;
    text-align: center;
    color: #FFFFFF;
    border: 1px solid;
    padding: 15px 30px;
    background-color: #27697C;
    display: block;
    grid-column: 1 / -1;  
    justify-self: center; 
    margin-top: 40px;
    margin-bottom: 40px;
}

/* SECTION 5 */
#section5{
    background-color: #859399;
}
.secdiv5{
    padding-top: 40px;
    padding-bottom: 50px;

}
#section5 form{
    max-width: 680px;
    width: 100%;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 60px;

}
.div1{
   display: flex;
    gap: 20px;
    
}
.div1 input {
  flex: 1;           
  min-width: 0;      
}
#section5 h1{
    font-family: "Montserrat",sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    vertical-align: middle;
    color: #FFFFFF;
    margin-top: 50px;

}
#section5 h2{
    font-family:" Montserrat",sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 30px;
    line-height: 34.5px;
    color: #FFFFFF;
    margin-bottom: 40px;

}

.input0,
.input2,
textarea {
  width: 100%;
  box-sizing: border-box;
  padding: 12px;
  border: 1px solid; 
  border-color: #27697C;
}
.input2,
textarea {
  margin: 20px 0;
  
}
::placeholder{
    font-family: "Open Sans",sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #000000;
    padding: 12px;

}
.div20{
    font-family: "Open Sans",sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: rgba(255, 255, 255, 1);

}

#section5 .btn{
    font-weight: 500;
    line-height: 18.4px;
    text-align: center;
    color:#27697C;
    border: 1px solid;
    margin-top: 20px;
    padding: 10px;
    display: inline-block;
    justify-self: flex-start;
    background-color: #FFFFFF;
}
#section5 .btn:hover{
    color: #FFFFFF;
    background-color: #27697C;
}

/* FOOTER */
footer{
    max-width: 1920px;
    margin: auto;
}
footer p{
    background-color: #27697C;
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: 18.4px;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    color: #FFFFFF;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    
}
footer a{
    color: #FFFFFF;
}

/* RESPONSIVE TABLETTE */
@media screen and (max-width:1024px) {
  header div{
    display: flex;
    justify-content: space-between;
  }
    header nav{
        display: none;
    }
    #burger{
        display: block;
        color: #27697C;
        font-size: 40px;
    }
}

@media screen and (max-width:770px) {
    header div{
        display: flex;
        justify-content: space-between;
    }
    header nav{
        display: none;
    }
    #burger{
        display: block;
        color: #27697C;
        font-size: 40px;
    }
    #section2 .div1{
        display: grid;
        grid-template-columns: 1fr;
    }
   #section2 .div1 img{
    margin-top:40px;
   }
   #section3 .div3{
    display: grid;
    grid-template-columns: 1fr;

   }
    #section3 .div30{
        display: none;
    }
    .div31{
        padding-left: 20px;
        padding-right: 40px;
    }
}